.products-timeline-container {
  position: relative;
  padding: 0px 40px;
  border-radius: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-timeline-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 700;
  z-index: 2;
}

.products-timeline-svg {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.products-timeline-cards {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 75px;
}

.products-row {
  display: flex;
  gap: 24px;
}

.products-top-row {
  justify-content: flex-start;
  margin-left: 20px;
}

.products-bottom-row {
  justify-content: flex-end;
  margin-right: 20px;
}

.products-card {
  width: 150px;
  height: 170px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  padding: 12px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1000;
}

/* .products-card.active {
  background-color: #135BFF;
  transform: translateY(-6px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  z-index: 1000;
} */

.products-card:hover {
  background-color: #135BFF;
  transform: translateY(-6px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.products-card .icon {
  font-size: 2rem;
  margin-bottom: 6px;
}

.products-card h4 {
  margin: 4px 0 2px 0;
  font-size: 1rem;
  font-weight: 600;
}

.products-card p {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.85;
}
.line-connector {
  position: absolute;
  left: 50%;
  width: 5px;
  border-radius: 7px;
  background-color: white;
  transform: translateX(-400%);
  animation: growLine 0.4s ease-out forwards;
  z-index: -100;
}

.line-connector.top-row {
  top: 15%;
  height: 20px;
  transform-origin: bottom center;
  
}

.line-connector.bottom-row {
  bottom: 85%;
  height: 20px;
  left: 92px;
  transform-origin: bottom center;
}

@keyframes growLine {
  from {
    transform: translateX(-400%) scaleY(0);
    opacity: 0;
  }
  to {
    transform: translateX(-400%) scaleY(1);
    opacity: 1;
  }
}





